@font-face {
    font-family: "Lato";
    src:url('https://wzuk.blob.core.windows.net/assets/fonts/kMHuzhNgr0KObYFogkU9qg.eot');
    src:url('https://wzuk.blob.core.windows.net/assets/fonts/kMHuzhNgr0KObYFogkU9qg.eot') format('embedded-opentype'),url('https://wzuk.blob.core.windows.net/assets/fonts/kMHuzhNgr0KObYFogkU9qg.woff') format('woff'),url('https://wzuk.blob.core.windows.net/assets/fonts/kMHuzhNgr0KObYFogkU9qg.ttf') format('truetype'),url('https://wzuk.blob.core.windows.net/assets/fonts/kMHuzhNgr0KObYFogkU9qg.svg') format('svg');
}

@font-face {
    font-family: "Raleway";
    src:url('https://wzuk.blob.core.windows.net/assets/fonts/Raleway-Regular.eot');
    src:url('https://wzuk.blob.core.windows.net/assets/fonts/Raleway-Regular.eot') format('embedded-opentype'),url('https://wzuk.blob.core.windows.net/assets/fonts/Raleway-Regular.ttf') format('truetype'),url('https://wzuk.blob.core.windows.net/assets/fonts/Raleway-Regular.svg') format('svg');
}

.startingText2 .sapUiBlockCellContent .sapUiBlockCellTitle{
	/*background-color:rgb(0,0,0);*/
	/*background-color:rgba(0,0,0,0.3);*/
    /*background: none;*/
    text-align: left;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    letter-spacing: 1px;
    font-size: 72px;
    font-family: Lato;
    margin-top: calc( 50vh - 8rem );
    text-shadow: 2px 2px 8px #000000;
}

/*Banner*/
.startingImage2{
	background-image: url("images/WelcomeBannerColor.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	min-height: calc( 100vh - 3rem );
}

@media (min-width: 1024px) {
	.mainPage2 .sapUiBlockCellContent {
		margin-left: calc((100% - 1024px) / 2);
		margin-right: calc((100% - 1024px) / 2);;
	}
}

.mainMenu2 {
	height: 20rem;
	
}

.presidentTile{
	background-image: url("images/PRULIAPresidentbanner.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	transition: 0.3s;
	background-position: right;
}

.presidentTile:hover {
  background-size: auto 120%;
}

.committeeTile{
	background-image: url("http://103.253.146.122/files/committee1.jpg");
	background-size: 100% auto;
	transition: 0.3s;
	background-position: center;
}

.committeeTile:hover{
	background-size: 120% auto;
}

.aboutTile{
	background-image: url("images/PRULIAAboutbanner.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	transition: 0.3s;
	background-position: right;
}

.aboutTile:hover{
	background-size: auto 120%
}

.membershipTile{
	background-image: url("images/MembershipBanner.jpg");
	background-repeat: no-repeat;
	background-size: auto 100%;
	transition: 0.3s;
	background-position: right;
}

.membershipTile:hover{
	background-size: auto 120%
}

.fontRaleway{
	line-height: 1.2;
    letter-spacing: 0px;
    font-size: 24px;
    font-family: Raleway;
}